
// Breakpoints ----------------------------------------------------------------

@phone-wide: ~"only screen and (min-width: 380px)";
@tablet: ~"only screen and (min-width: 570px)";
@tablet-wide: ~"only screen and (min-width: 768px)";
@desktop: ~"only screen and (min-width: 1100px)";

// Fonts ----------------------------------------------------------------------

@montserrat: 'Montserrat', sans-serif;

// Colors ---------------------------------------------------------------------

@navbar-white: #fff;

@background-grey: #f9f9fb;
@light-grey: #ddd;
