.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 25px;
	width: 100%;
}

.pagination__button, .pagination__placeholder {
	background: transparent;
	border: 0;
	color: $color-gray-100;
	color: var( --color-neutral );
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	width: 24px;

	&.is-active {
		background-color: $color-gray-100;
		background-color: var( --color-accent );
		border-radius: 3px;
		color: $color-white;
		color: var( --color-text-inverted );
		height: 26px;
		margin: 0 1px;
		width: 26px;
	}

	&:disabled {
		cursor: default;

		&:first-child, &:last-child {
			color: $color-gray-20;
			color: var( --color-text-subtle );
		}
	}
}
