.post-header {
	display: flex;
	flex-direction: column;
	margin: 0 0 20px;
	padding: 0 25px;
	width: 100%;

	@media #{$tablet-wide} {
		padding: 0;
	}
}

.post-header__title {
	color: $color-gray-100;
	color: var( --color-accent );
	font-family: $headers;
	font-size: 45px;
	font-weight: bold;
	line-height: 45px;
	margin: 0 auto 10px;
	width: 100%;
}

.post-header__link {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: none;
}

.post-header__meta {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.post-header__date {
	color: $color-gray-20;
	color: var( --color-text-subtle );
	font-family: $headers;
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	margin: 0 0 0 10px;
	text-transform: uppercase;
}
