.navigation {
	display: none;

	@media #{$desktop} {
		display: flex;
		flex-direction: column;
		padding: 50px 25px 25px;
		position: fixed;
			bottom: 0;
			left: 0;
			top: 0;
		width: 300px;
	}
}

.navigation.is-mobile {
	background-color: $color-white;
	background-color: var( --color-background );
	display: flex;
	flex-direction: row;
	padding: 25px;
	position: fixed;
		left: 0;
		right: 0;
		top: -80px;
	transition: top .2s;

	&.is-active {
		top: 0;
	}

	.logo, .logo__img {
		height: 30px;
		margin: 0;
		width: 30px;
	}

	@media #{$tablet-wide} {
		padding: 30px 50px;
		top: -105px;

		.logo, .logo__img {
			height: 45px;
			margin: 0;
			width: 45px;
		}
	}

	@media #{$desktop} {
		display: none;
	}
}

.navigation__logo {
	display: flex;

	.navigation:not(.is-mobile) & {
		margin-bottom: 50px;
	}
}

.navigation__toggle {
	background-color: transparent;
	border: 0;
	// is this necessary ?
	color: $color-gray-80;
	color: var( --color-text );
	cursor: pointer;
	font-size: 20px;
	height: 30px;
	position: absolute;
		right: 25px;
		top: 25px;
	z-index: 100;

	.navigation.is-expanded & {
		color: $color-white;
		color: var( --color-text-inverted );
	}

	@media #{$tablet-wide} {
		font-size: 25px;
		height: 45px;
		right: 50px;
		top: 30px;
	}
}

.navigation__menu {
	background-color: $color-gray-100;
	background-color: var( --color-accent );
	display: flex;
	flex-direction: column;
	padding: 80px 25px 25px;
	position: fixed;
		bottom: 0;
		right: -100%;
		top: 0;
	width: 100%;
	transition: right .2s;

	.navigation.is-expanded & {
		right: 0;
	}

	.navigation__link-anchor {
		color: $color-white;
		color: var( --color-text-inverted );
	}

	@media #{$tablet} {
		right: -300px;
		width: 300px;

		&.is-active {
			right: 0;
		}
	}

	@media #{$tablet-wide} {
		padding: 105px 25px 25px;
	}
}

.navigation__links {
	flex: 1;
	list-style-type: none;
}

.navigation__link {
	margin: 0 0 10px;
}

.navigation__link-anchor {
	color: $color-gray-100;
	color: var( --color-neutral );
	font-family: $headers;
	font-size: 36px;
	height: 42px;
	line-height: 42px;
}

.navigation__search {
	color: $color-gray-80;
	color: var( --color-text );
	font-family: $headers;
	font-size: 28px;
	margin: 0 0 30px;
	text-align: right;

	@media #{$desktop} {
		color: $color-gray-20;
		color: var( --color-text-subtle );
		text-align: left;
		transition: color .2s;

		&:hover {
			color: $color-gray-100;
			color: var( --color-neutral );
		}

		&::after {
			content: "...";
			display: inline-block;
		}
	}
}

.navigation__search-icon {
	margin: 0 0 0 15px;

	@media #{$desktop} {
		&.svg-inline--fa {
			display: none;
		}
	}
}

.navigation__social {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	list-style-type: none;
}
