.social-button {
	background-color: $color-gray-100;
	background-color: var( --color-accent );
	border-radius: 20px;
	color: $color-white;
	color: var( --color-text-inverted );
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
}
