.page-header {
	color: $black;
	font-family: $headers;
	font-size: 40px;
	font-weight: 900;
	margin: 0 0 30px;
	padding: 0 25px;

	@media #{$tablet-wide} {
		font-size: 64px;
		height: 78px;
		line-height: 78px;
		margin: 0 0 40px;
		max-width: 800px;
		padding: 0;
	}
}
