{:app-name "Besides Programming"
 :domain "besidesprogramming.com"
 :api-host "https://besidesprogramming.com/wp-json"

 :post-categories [{:id 2 :label "Thoughts" :slug "thoughts"}
                   {:id 3 :label "Programming" :slug "programming"}
                   {:id 4 :label "Travel" :slug "travel"}
                   {:id 5 :label "Photos" :slug "photos"}]

 :nav [{:label "Home" :url "/"}
       {:label "Thoughts" :url "/thoughts"}
       {:label "Programming" :url "/programming"}
       {:label "Travel" :url "/travel"}
       {:label "Photos" :url "/photos"}
       {:label "About" :url "/about"}]

 :social-links [{:link "https://besidesprogramming.com/feed/rss" :icon "rss"}
                {:link "https://slackin.besidesprogramming.com/" :icon "slack"}
                {:link "https://www.instagram.com/ice9js/" :icon "instagram"}
                {:link "https://twitter.com/ice9js" :icon "twitter"}
                {:link "https://www.facebook.com/besidesprogramming/" :icon "facebook"}]

 :ga-tracker-id "UA-88781129-1"

 :posts-per-page 10
}
