
// Breakpoints ----------------------------------------------------------------

$phone-wide: "only screen and (min-width: 380px)";
$tablet: "only screen and (min-width: 570px)";
$tablet-wide: "only screen and (min-width: 768px)";
$tablet-extra-wide: "only screen and (min-width: 960px)";
$desktop: "only screen and (min-width: 1150px)";

// Fonts ----------------------------------------------------------------------

$headers: 'Montserrat', sans-serif;
$text: 'Open Sans', sans-serif;
$code: 'Source Code Pro', monospace;

// Colors ---------------------------------------------------------------------

$color-white: #fff;
$color-black: #000;

$color-gray-0: #f8f8f8;
$color-gray-5: #ececec;
$color-gray-10: #e1e1e1;
$color-gray-20: #cacaca;
$color-gray-30: #b3b3b3;
$color-gray-40: #9c9c9c;
$color-gray-50: #858585;
$color-gray-60: #6e6e6e;
$color-gray-70: #575757;
$color-gray-80: #404040;
$color-gray-90: #292929;
$color-gray-100: #121212;

$color-blue-0: #ebf6fa;
$color-blue-5: #d8f5fe;
$color-blue-10: #c3f3ff;
$color-blue-20: #a3eaff;
$color-blue-30: #77ddfd;
$color-blue-40: #44c9f5;
$color-blue-50: #0fb2e8;
$color-blue-60: #0798c9;
$color-blue-70: #057ba3;
$color-blue-80: #075a77;
$color-blue-90: #083646;
$color-blue-100: #031014;

$color-facebook: #3b5998;
$color-twitter: #4099ff;
$color-pinterest: #c92228;
