* {
	font-family: $text;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: $background-grey;
	color: $text-content;
	font-size: 18px;
	height: 100%;
	overflow: auto;
	width: 100%;
}

div {
	box-sizing: border-box;
}

a, button {
	cursor: pointer;
}

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@keyframes loading-pulse {
	0% {
		background-color: lighten( $light-grey, 5% );
	}
	50% {
		background-color: $light-grey;
	}
	100% {
		background-color: lighten( $light-grey, 5% );
	}
}

.facebook {
	background-color: $facebook;
}

.twitter {
	background-color: $twitter;
}

.pinterest {
	background-color: $pinterest;
}
