.logo {
  margin: 0 0 50px;
  width: 100%;
}

.logo__link {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.logo__img {
  background-image: url('/img/logo-black-large.png');
  background-position: center center;
  background-size: 300px 300px;
  height: 300px;
  width: 300px;
}
