.nav {
  display: none;

  @media @desktop {
    display: flex;
    flex-direction: column;
    padding: 50px 25px 25px;
    position: fixed;
      bottom: 0;
      left: 0;
      top: 0;
    width: 300px;
  }
}
