.header {
	width: 100%;
	padding: 20px 0 60px;
}

.header__emblem-link {
	display: block;
	height: 300px;
	margin: 40px auto 0;
	width: 300px;
}

.header__logo {
	background-image: url('/img/logo-light-large.png');
	background-position: center center;
	background-size: 300px 300px;
	height: 300px;
	width: 300px;
}

.header .nav {
	display: flex;
	height: 40px;
	justify-content: center;
	width: 100%;
}

.header .nav__link {
	color: @light-grey;
	font-family: @montserrat;
	font-size: 22px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin: 10px;
	text-transform: uppercase;
}

.navbar {
	background-color: @navbar-white;
	height: 60px;
}

.navbar__content {
	@media @desktop {
		height: 60px;
		margin: 0 auto;
		width: 1020px;
	}
}
